<style type="text/css" media="screen">
    .gr_grid_container {
        display: flex;
        flex-wrap: wrap;
        max-width: 800px;
        margin: 0 auto;
      /* customize grid container div here. eg: width: 500px; */
    }

    .gr_grid_book_container {
      /* customize book cover container div here */
      margin-bottom: 20px;
      width: 33%;
    }

    @media screen and (max-width: 600px) {
        .gr_grid_book_container {
            width: 33%; /* Adjust width for smaller displays */
        }
    }
  </style>
  <div id="gr_grid_widget_1711227139">
    <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
      <div class="gr_grid_container">
<div class="gr_grid_book_container"><a title="Wanting: The Power of Mimetic Desire in Everyday Life" rel="nofollow" href="https://www.goodreads.com/book/show/54860444-wanting"><img alt="Wanting: The Power of Mimetic Desire in Everyday Life" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1615240502l/54860444._SX98_.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="How I Found Freedom in an Unfree World: A Handbook for Personal Liberty" rel="nofollow" href="https://www.goodreads.com/book/show/82104.How_I_Found_Freedom_in_an_Unfree_World"><img alt="How I Found Freedom in an Unfree World: A Handbook for Personal Liberty" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1388400345l/82104._SX98_.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Troubled: A Memoir of Foster Care, Family, and Social Class" rel="nofollow" href="https://www.goodreads.com/book/show/176444107-troubled"><img alt="Troubled: A Memoir of Foster Care, Family, and Social Class" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1688068270l/176444107._SX98_.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Hackers and Painters" rel="nofollow" href="https://www.goodreads.com/book/show/41793.Hackers_and_Painters"><img alt="Hackers and Painters" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1348562702l/41793._SX98_.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Whole Earth: The Many Lives of Stewart Brand" rel="nofollow" href="https://www.goodreads.com/book/show/58503523-whole-earth"><img alt="Whole Earth: The Many Lives of Stewart Brand" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1632856813l/58503523._SX98_.jpg" /></a></div>
<noscript><br/>Share <a rel="nofollow" href="/">book reviews</a> and ratings with Aref, and even join a <a rel="nofollow" href="/group">book club</a> on Goodreads.</noscript>
</div>

  </div>
  <script src="https://www.goodreads.com/review/grid_widget/170964174.Aref's%20top-5-2024%20book%20montage?cover_size=medium&hide_link=true&hide_title=true&num_books=5&order=a&shelf=top-5-2024&sort=date_added&widget_id=1711227139" type="text/javascript" charset="utf-8"></script>