<script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
<div style="padding: 10px; display: flex; justify-content: space-around;">
    <div style="margin: 5px;" data-iframe-width="150" data-iframe-height="270" data-share-badge-id="c3ba5235-974d-42bb-85e2-747dee5f0ed4" data-share-badge-host="https://www.credly.com"></div>
    <div style="margin: 5px;" data-iframe-width="150" data-iframe-height="270" data-share-badge-id="d0679efe-d46a-42cf-baeb-113690c14a4a" data-share-badge-host="https://www.credly.com"></div>
    <div style="margin: 5px;" data-iframe-width="150" data-iframe-height="270" data-share-badge-id="f93945d6-d91f-4453-aa3c-3f946cf1dd5e" data-share-badge-host="https://www.credly.com"></div>
</div>

